// Define variables for your color scheme

// For example:
$red: #99000a;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #63ba50;
$gray: #616668;
$light-gray: #F4F4F4;
$dark-gray: #161616;
$brownie: #2b2822;
$pearl-white: #fff7ea;
$transparent-pearl-white: rgba(255, 247, 234, 0.8);
