<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/aquellier"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/antoine.quellier"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/antoine-quellier-46464a78/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by tonio
  </div>
</div>
