<div class="home-container">
  <div class="banner">
    <div class="banner-content">
      <h1>Footance</h1>
      <p>Play football <span id="js-typed-text"></span></p>
      <%= link_to 'Skip to games', "/games",  class: 'white-button' %>
    </div>
  </div>
  <div class="home-section">
    <div class="banner-card col-xs-12 col-sm-6 col-md-4 justify-content-center">
      <h1><i class="fas fa-map-marker-alt"></i></h1>
      <br>
      <h2>Create your spots</h2>
      <p>Register new spots and locate them to help your </p>
    </div>
    <div class="banner-card col-xs-12 col-sm-6 col-md-4">
      <h1><i class="far fa-futbol"></i></h1>
      <br>
      <h2>Find Games</h2>
      <p>Find all the games near you happening in the coming days</p>
    </div>
    <div class="banner-card col-xs-12 col-sm-6 col-md-4">
      <h1><i class="fas fa-users"></i></h1>
      <br>
      <h2>Create Teams</h2>
      <p>Create teams with your friends to join competitions</p>
    </div>
  </div>
</div>
