<div class="banner">
  <div class="banner-content">
    <h1>CFM Lisbon</h1>
    <p>Play football in Lisbon <span id="js-typed-text"></span></p>
    <%= link_to 'Choose your game', "/games",  class: 'btn btn-primary btn-lg' %>
  </div>
</div>
