<div class="search-games">
  <%= form_tag games_path, method: :get do %>
    <%= text_field_tag :address_query,
      params[:address_query],
      class: "search-games-input",
      placeholder: "Enter your address"
    %>
    <%= submit_tag "Find nearest games", class: 'search-button' %>
  <% end %>
</div>
