<div class="switch-button">
  <span class="switch-text"><p>Show/Hide Map</p></span>
  <label class="switch">
    <input type="checkbox" id="show-map">
    <span class="slider round"></span>
  </label>
</div>
