
<div class="games-nav">
  <%= render 'search' %>
  <%= render 'switch_button' %>
</div>
<!--   Left-Section -->

<div class="games-container">
  <%= render 'games' %>
</div>
<!--   Right-section -->
<div id="map-index-container">
  <%= render 'map' %>
</div>
