<div class="games-nav">
  <div class="switch-button">
    <p class="switch-text">Show/Hide Map</p>
    <label class="switch">
      <input type="checkbox" id="show-map">
      <span class="slider round"></span>
    </label>
  </div>
</div>
<!--   Left-Section -->

  <div class="games-container">
      <%= render 'games' %>
  </div>
<!--   Right-section -->
  <div id="map-index-container">
    <div id="map-index" data-markers="<%= @markers.to_json %>">
    </div>
  </div>
