<!--   Left-Section -->
<div class="games-nav">

</div>

  <div id="games-container">
      <%= render 'games' %>
  </div>
<!--   Right-section -->
  <div id="map-index-container">
    <div id="map-index" data-markers="<%= @markers.to_json %>">
    </div>
  </div>
