<table class="table-dashboard">
  <caption>My Games</caption>
  <thead>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
    <th>Team size</th>
    <th>State</th>
    <th></th>
  </thead>
  <tbody>
    <% current_user.bookings.each do |booking| %>
      <tr>
        <td><%= booking.game.location %></td>
        <td><%= booking.game.datetime.strftime("%a %d %b %Y") %></td>
        <td><%= booking.game.datetime.strftime('%I:%M pm') %></td>
        <td><%= booking.game.number_of_players / 2 - 1 %> Players</td>
        <td>
          <% if booking.state == "pending" %>
            Payment pending
          <% elsif booking.state == "paid"%>
            Paid
          <% elsif Date.today > booking.date %>
            Played
          <% else %>
            Cash payment
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
