<div class="col-xs-12 col-sm-6">
  <%= render 'join_game' %>
</div>

<!-- Right section -->
<div class="col-xs-12 col-sm-6 players-list">
  <h2>Lists of players:</h2>
  <%= render 'players_list' %>
</div>

