.banner {
  background:
  linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
  // url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJElEQVQYV2NkQAX/GaH8NAYGhpkMDAyMMIH/IA5IEkTAOSABAIRGBARyOsGQAAAAAElFTkSuQmCC) repeat,
  url('https://i.pinimg.com/originals/5d/fe/73/5dfe73f627b97ef5a2ea1baa6d817dcf.jpg')bottom;
  background-size: cover;
  color: white;
  text-align: center;
  height: calc(100vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  align-items: center;
  justify-content: center;
}

#js-typed-text {
  font-weight: bold;
  color: $green;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
