.gray-button {
  background-color: black;
  padding: 10px 50px;
  border: 1px solid $light-gray;
  color: $light-gray;
  bottom: 25px;
  transition: 0.6s;
  background-opacity: 0.6;
  font-weight: lighter;
  &:hover {
    transition: 0.6s;
    text-decoration: none;
    color: $dark-gray;
    background-color: $light-gray;
  }
  margin-top: 15px;
}

  a:hover {
    text-decoration: none;
  }

.links {
  color: $light-gray;
}
