.index-wrapper {
  width: 100%;
}

.games-container {
  width: 60%;
  overflow-y: auto;
  height: calc(100vh - 130px);
  left: 0;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  // transition: 0.2s;
}

.full-games-container {
  width: 100% !important;
  transition: 0.4s;
  overflow-y: auto;
  height: calc(100vh - 130px);
  left: 0;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
}

.players-list {
  color: $pearl-white;
  h2 {
    margin: 10px 0;
    text-align: center;
  }
  min-height: 100vh;
}

.join-game {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 0;
  align-items: center;
  color: $brownie;
  p {
    margin-bottom: 0;
  }
  h4 {
    margin:0
  }
}

.game-detail {
  margin: 12.5px 0;
}

.space-stuff {
  display: flex;
  justify-content: space-between;
}

