.players-list {
  border-left: 1px solid $gray;
  h2 {
    text-align: center;
  }
  min-height: calc(100vh - 70px);
}

.player-cell {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray;
  p {
    margin: 0;
    font-size: 16px;
  }
}
