.index-wrapper {
  width: 100%;
}

#games-container {
  width: 60%;
  overflow-y: auto;
  height: calc(100vh - 70px);
  margin-top: 70px;
  left: 0;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
}
.players-list {
  border-left: 1px solid $gray;
  h2 {
    text-align: center;
  }
  min-height: calc(100vh - 70px);
}

.player-cell {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray;
  p {
    margin: 0;
    font-size: 16px;
  }
}

.join-game {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  align-items: center;
}
