.form-design {
  text-align: left;
  background: $transparent-pearl-white;
  color: $brownie;
  padding: 25px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  h2 {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .btn-primary {
    width: 100%;
    margin-bottom: 15px;
  }
  a {
    color: $green;
  }
  a:hover {
    text-decoration: none;
  }
  h6 {
    color: $brownie;
    cursor: pointer;
  }
  h6:hover {
    color: $green !important;
  }
  small {
    color: $brownie;
  }

}

.long-form {
  height: 600px;
}

.date-input{
  margin: 5px 0;
  width: 32%;
  justify-content: space-around;
}

.inline-elements {
  display: flex;
  justify-content: space-between;
}

.right-section{
  background-color: $light-gray;
  padding: 0 80px;
  width: 45%;
  height: 100vh;
  float: right;
}

.pac-container {
  z-index: 2000;
}
