.table-dashboard {
   border-top: 2px solid rgb(200, 200, 200);
   border-bottom: 2px solid rgb(200, 200, 200);
   width: 80%;
   margin: 60px auto;
   font-size: 14px;
   text-align: center;
   th, td {
    align: center;
    text-align: center;
    height: 50px;
    vertical-align: middle;
   }
}

// .table-dashboard-user{
//    border-top: 2px solid rgb(200, 200, 200);
//    border-bottom: 2px solid rgb(200, 200, 200);
//    width: 60%;
//    margin: 60px auto;
//    font-size: 14px;
//    text-align: center;
//    th, td {
//     align: center;
//     text-align: center;
//     height: 30px;
//     vertical-align: middle;
//    }
// }
